.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/david-serment.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 20px;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 50px;
  font-family: 'Lora', serif;
}

.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
}

.banner a {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.banner a:hover {
  background-color: #27ae60;
}
